{% extends 'base.html' %}
{% block content %}
<h1>Editar Filme "{{ playlist.titulo }}"</h1>
<form class="form-edit" action="" method="post">
    <p>{{ playlist.titulo }}</p>
    <div class="div-adicionar">

        <textarea style="margin-bottom: 20px;" class="adicionar-textarea" name="avaliacao" id="" cols="30" rows="10" required>{{ playlist.avaliacao }}</textarea>

        <select class="select" name="status" id="">
            {% if playlist.status %}
            <option value="{{ True }}" selected>Visto</option>
            <option value="{{ False }}">Não visto</option>
            {% else %}
            <option value="{{ True }}">Visto</option>
            <option value="{{ False }}" selected>Não visto</option>
            {% endif %}
        </select>

        <select class="select" name="favorito" id="">
            {% if playlist.favorito %}
            <option value="{{ True }}" selected>Favorito</option>
            <option value="{{ False }}">Não favorito</option>
            {% else %}
            <option value="{{ True }}">Favorito</option>
            <option value="{{ False }}" selected>Não favorito</option>
            {% endif %}
        </select>


    </div>
    <input class="botao configadicionar" type="submit" value="Enviar">
</form>
{% endblock %}