{% extends 'base.html' %}
{% block content %}
<h1>Filmes populares</h1>


<div class="home">

{% for filme in list_filmes %}
    <div class="card">
        <div class="card-img">
            <img class="card-img-img" src="{{ 'https://image.tmdb.org/t/p/w500'+filme['backdrop_path'] }}" alt="">
        </div>
        <div class="card-text">
            <p class="card-text-font">{{ filme['title'] }}</p>
        </div>
    </div>
{% endfor %}

</div>

<footer>
        <div class="developer">
            <h2>Desenvolvedores</h2>
            <div class="d1">
                <a class="navLink" href="https://www.instagram.com/macolen_alencar/" target="_blank">Macólen Alencar</a>
            </div>
            <div class="d2">
                <a class="navLink" href="https://www.instagram.com/islanx_oliv/" target="_blank">Islan Pereira</a>
            </div>
            <div class="d3">
                <a class="navLink" href="https://www.instagram.com/macolen_alencar/" target="_blank">José Henrique</a>
            </div>
            <div class="d4">
                <a class="navLink" href="https://www.instagram.com/_myllena_crispim/" target="_blank">Myyllena Crispim</a>
            </div>
        </div>

</footer>
{% endblock %}