{% extends 'base.html' %}


{% block content %}
<div class="login">
    
    <form method="post" class="login-form">
        <h1>Login</h1>
        <label for="email">Email</label>
        <input class="input-login" type="email" placeholder="Email" name="email" required>
        <label for="password">Password</label>
        <input class="input-login" type="password" placeholder="Password" name="password" required>
        <input class="botao" type="submit" value="Entrar">
        <botao>
            <a class="navLink" href="{{ url_for('cadastro') }}">Cadastre-se</a>
        </botao>
    </form>

</div>


{% endblock %}
